# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

*.bak

# PHP Scoper
/php-scoper/vendor

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
/node_modules

# Composer directory
/vendor/**
!/vendor/composer
!/vendor/composer/*
!/vendor/autoload.php

/3rd-party/*/
!/3rd-party/vendor
