.wppedia-page {
	/**
	 * Page
	 */
	#wpcontent {
		padding: 0;
	}
	.wrap {
		margin: 0;
	}

	/**
	 * Forms
	 */
	.form-table {
		.wppedia-pro-feature {
			> th {
				display: flex;
				&:after {
					content: '';
					background-image: url('../../../assets/img/pro-badge.svg');
					display: block;
					width: 35px;
					height: 15px;
					margin: .25em 0 0 1em;
					flex: 0 0 35px;
				}
			}
		}
	}


	/**
	 * Tabs
	 */
	$tab_width: 200px;
	.ui-tabs {
		*, *:before, *:after {
			box-sizing: border-box;
		}
		&.ui-tabs-vertical {
			padding: 0;
			width: 100%;
			.ui-widget-header {
				border: none;
			}
			.ui-tabs-nav {
				float: left;
				width: $tab_width;
				li {
					clear: left;
					width: 100%;
					margin: 0;
					border: 0;
					overflow: hidden;
					position: relative;
					right: 0;
					z-index: 2;
					border-width: 0 0 1px 4px;
					border-left-color: transparent;
					border-top-color: $grey;
					border-bottom-color: $grey;
					border-style: solid;
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						border-bottom-width: 0;
					}
					&.ui-tabs-active, &:hover {
						background: #FFF;
						border-left-color: $primary;
						a{
							color: $primary;
						}
					}
					a {
						display: block;
						padding: 0.6em 1em;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.ui-tabs-panel {
				float: left;
				width: calc(100% - #{$tab_width + 40px});
				padding: 20px; 
				border-radius: 0;
				position: relative;
				background: #FFF;
			}
		}
	}
	.submit {
		clear: both;
	}

}

.wppedia-layout-header {
	position: fixed;
	z-index: 999;
	top: 32px;
	display: flex;
	align-items: center;
	padding: 0 0 0 40px;
	flex: 1 auto;
	background: #fff;
	font-weight: 600;
	font-size: 14px;
	text-transform: capitalize;
	width: calc(100% - 160px);
	.wppedia-logo {
		padding: 1em 0;
	}
}

.folded {
	.wppedia-layout-header {
		width: calc(100% - 36px);
	}
}

.wppedia-layout-content {
	margin: 100px 20px 0 2px;
	padding-left: 20px;
}
