/**
 * Theme Options
 */
@import './options';

/**
 * TODO:
 * - add an option for pagewidth
 * - add an option for default columns
 * - add an option for default spacing top and bottom
 */

#wppedia-layout-wrap {
	display: flex;
	> #primary { 
		flex: 2;
	}
	> #secondary {
		flex: 1;
		margin-left: 4rem;
	}
	.wppedia-entry-content > * {
		padding-left: 0;
		padding-right: 0;
	}
}

#wppedia-page-header {
	margin-top: 2rem;
}

#wppedia-page-header, 
#wppedia-layout-wrap, 
.wppedia-entry-content > * {
	width: 1210px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.wppedia-entry-wrapper {  
	margin-top: 2rem;
	margin-bottom: 4rem;
	padding: 0;
	a {
		color: darken($secondary-color, 45%);
	}
}
