/**
 * Glossary Navigation
 */
#glossary-char-navigation { background-color: #f5f5f5; 
	> ul { display:flex; padding: 15px;
		> li { list-style: none; 
			> a, > span { text-transform: uppercase; margin: 0px 15px; }
		}
 	}
}

.initial-letter { text-transform: uppercase; color: #db012f; font-size: 20px; }

.contentwrap { 
	#glossary-char-navigation a, ul a { color: #595959; 
		&:hover { color: #db012f; }
	}
}
