/**
 * Theme Options
 */
@import '../../options';

#wppedia_searchform {
	position: relative;
	display: flex;
	margin-bottom: 1.5rem;
	.search-field, .search-submit {
		margin: 0;
	}
	.search-field {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
	}
	.search-submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		flex: 0 0 auto;
	}
}

#wppedia_results_rendered {
  position: absolute;
	top: 100%;
	left: 0;
  margin: 0;
	border: solid rgba(0, 0, 0, 0.54);
	border-width: 0 1px 1px;
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
	transition: none;
	list-style: none;
	> li {
		&:hover {
			background: rgba(0, 0, 0, 0.12);
		}
	}
	a {
		display: block;
		padding: .6rem;
		color: inherit;
	}
}



