/**
 * Theme Options
 */
@import '../options';

#wppedia-char-navigation {
	&:not(:last-child) { margin-bottom: 2rem; }
	ul, li {
		list-style: none;
		padding-left: 0px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li { 
		margin: .25rem 0 .25rem -1px;
		&:hover {
			span {
				z-index: 1;
				color: lighten($main-color, 5%);
				background-color: darken($main-color, 10%);
			}
		}
		a.active, &:hover a {
			z-index: 1;
			color: lighten($main-color, 5%);
			background-color: $secondary-color;
			border: solid 1px $secondary-color;
		}
		a, span {
			position: relative;
			border: solid 1px darken($main-color, 10%);
			color: darken($main-color, 45%);
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			text-align: center;
			padding: .1rem .5rem;
			box-sizing: content-box;
			min-width: 1ch;
			user-select: none;
		}
	}
	.wppedia_navigation_home { 
		margin-right: 1rem;
		text-indent: -9999px;
		background-image: url('../../../assets/img/encyclopedia.svg');
		background-size: 19px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: darken($main-color, 10%);
		border-color: darken($main-color, 10%);
	}
}
